table,tr,td{
  border:2px solid #000;
  border-collapse: collapse;
  margin:3px;
}
.main{
  display: flex;
  flex-wrap: wrap;
}
.left{
  flex: 1;
  border: 2px solid #000;
  margin: 3px;
  padding: 2px;
  background-color: #00FFFF;
}
.right{
  flex: 2;
    border: 2px solid #000;
    margin: 3px;
    padding: 2px;
    background-color: #FF1493;
}
#name{
  color:yellow;
}
.left img{
  border-radius: 50px;
  width:50%;
  border:5px solid #c454;
}
/* media queries(1024,1280,768,480)
1280-1024:desktop
1024-768 :tablet(landscape and portrait)
768-480  :tablet
480      :mobile landscape(or)smaller  device */

/*@media screen and (min-width:425px){

}*/

@media only screen and (min-width:1024px) and (max-width:1280px){
  .main{
    display: flex;
    flex-direction: row;
    background-color: #00FFFF;
  }
  .left{
    background-color: #FF1493;
  }
.right{
  background-color: #7B68EE;
}
}
@media screen and (min-width:768px) and (max-width:1024px){
  .main{
    display: flex;
    flex-direction: row;
    background-color:#98FB98 ;
  }
  .left{
    background-color:#00FF7F ;
  }
  .right{
  background-color:#FFFF00 ;
  }

}


@media all and (min-width:480px) and (max-width:768px){
  .main{
    display: flex;
    flex-direction: row;
    background-color:#4169E1 ;
  }
  .left{
    background-color: #D8BFD8;
  }
  .right{
    background-color:	#FDF5E6 ;

  }


  }
  @media all and (max-width:480px) {

    .main{
      display: flex;
      flex-direction: row;
      background-color: #FFFF00;
    }
    .left{
      background-color:#FFC0CB ;
    }
    .right{
    background-color: 	#B0E0E6;
    }


}
